
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Ecommerce</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        
        <ul><a class="dropdown-toggle navbar-expand-md navbar-right" data-toggle="dropdown" href="#">Category</a>
              <ul class="dropdown-menu">
               <% for(var i =0; i < categories.length; i++){ %>
               <li><a href="/products/<%= categories[i].id %>"><%= categories[i].name %></a></li>
               <%}%>
              </ul>
        </ul>
          
     <% if(user){ %>
        <ul class="navbar navbar-expand-md navbar-dark navbar-right">
        <ul><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.profile.name %></a>
              <ul class="dropdown-menu">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
                   <% }else{ %>
             <ul><a href="/signup">Signup</a></ul>
             <ul><a href="/login">login</a></ul>
 
            </ul>
            <%}%>
       </ul>

      </div>
      <div class="search-container">
        <form action="">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control" placeholder="Search.." name="q">
          
        </form>
      </div>
      </div>
    </nav>
  