
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

   <!-- <link rel="stylesheet" type="text/css" href="/public/css/custom.css"> -->
  <style>
    body{
      padding-top: 100px;
    }
    .footer{
      margin-top: 250px;
    }
  </style>
  </head>

  <body>
      <% include  ./partials/navbar %>   
    <div class="container">
        <%- body -%>
    </div>
    <div class="footer"> 
        <% include  ./partials/footer %> 
    </div>  
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 

  </body>
</html>
